{
	"smtp_username": "",
	"smtp_password": "",
	"smtp_host": "mail",
	"smtp_port": 587,
	"smtp_ssl": false,
	"smtp_tls": true,
	"udp": true,
	"udp_port": 5140,
	"tcp": true,
	"tcp_port": 5140,
	"http_port": 8000,
	"preprocessors": [ "console_echo.js" ]
}
